In [2]:
pwd()
using Pkg; Pkg.activate(".")

  Activating environment at `E:\PP\git\DataWrangler.jl\Project.toml`

In [3]:
# Pkg.add("DataFrames")
# Pkg.add(url = "https://github.com/JuliaData/DataFramesMeta.jl.git")

In [4]:
using DataFrames, DataFramesMeta, Statistics

Pkg.status("DataFrames")
Pkg.status("DataFramesMeta")

      Status `E:\PP\git\DataWrangler.jl\Project.toml`
  [a93c6f00] DataFrames v0.22.7
      Status `E:\PP\git\DataWrangler.jl\Project.toml`
  [1313f7d8] DataFramesMeta v0.6.0 `https://github.com/JuliaData/DataFramesMeta.jl.git#master`

In [5]:
n = 5
x = DataFrame(A=1:n, B=rand(1:2, n), C=rand(1:2, n))
@transform x D = 1

5×4 DataFrame
 Row │ A      B      C      D
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │     1      2      2      1
   2 │     2      1      2      1
   3 │     3      2      2      1
   4 │     4      1      1      1
   5 │     5      2      1      1

In [6]:
@transform! x z = 1

5×4 DataFrame
 Row │ A      B      C      z
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │     1      2      2      1
   2 │     2      1      2      1
   3 │     3      2      2      1
   4 │     4      1      1      1
   5 │     5      2      1      1

In [7]:
x

5×4 DataFrame
 Row │ A      B      C      z
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │     1      2      2      1
   2 │     2      1      2      1
   3 │     3      2      2      1
   4 │     4      1      1      1
   5 │     5      2      1      1

## Most promising @make

In [8]:
function fillmissing(d1::DataFrame, d2::DataFrame)
    for v in names(d1)
        if !hasproperty(d2, v) 
            if (any(unique(typeof.(d1[!, v])) .<: Number))
                d2[!, v] .= 0.0
                d2[!, v]  = allowmissing(d2[!, v])
                d2[:, v] .= missing
            elseif (any(unique(typeof.(d1[!, v])) <: String))
                d2[!, v] .= ""
                d2[!, v]  = allowmissing(d2[!, v])
                d2[:, v] .= missing
            else
                d2[!, v] .= missing
            end
        end
    end
    return d2
end

fillmissing (generic function with 1 method)

In [9]:
macro mod(df, args...)
    
    targets = [v for v in args if !(occursin(r"^(iff|by|when|\(:if\))\(", string(v))) ]
    iffs    = [v for v in args if   occursin(r"^(iff|when|\(:if\))\(", string(v)) ]
    bys     = [v for v in args if   string(v)[1:3] == "by("  ]
    
    (length(iffs) > 1) && throw("Only one `iff()` allowed! Group multiple with `.&`.")
    (length(bys)  > 1) && throw("Only one `by()`  allowed! Group multiple by with `,`.")
    
    (length(iffs) == 1) && (iffs[1].head = :(=); iffs[1].args[1] = :iff)
    
    groupbys = (length(bys) == 1) ? (x -> (x isa QuoteNode ? eval(x) : x)).(bys[1].args[2:end]) : []
    
    quote
        d = copy($df)
        
        (length($iffs) == 0) && (selector = fill(true, size(d, 1)))
        (length($iffs) == 1) && (selector = (@transform d $(iffs...)).iff)
            
        xout = d[selector, :]
        
        # If bys have been defined then group the dataframe by $bys
        $(length(bys) == 1) && (xout = groupby(xout, [$groupbys...]))

        @transform! xout $(targets...)
        
        # If bys have been defined then ungroup the dataframe by $bys
        $(length(bys) == 1) && (xout = DataFrame(xout))
        
        d = fillmissing(xout, d)

        d[selector, names(xout)] = xout

        d
     end

end

@mod (macro with 1 method)

In [10]:
macro mod(df::DataFrame, args...)
    
    targets = [v for v in args if !(occursin(r"^(iff|by|when|\(:if\))\(", string(v))) ]
    iffs    = [v for v in args if   occursin(r"^(iff|when|\(:if\))\(", string(v)) ]
    bys     = [v for v in args if   string(v)[1:3] == "by("  ]
    
    (length(iffs) > 1) && throw("Only one `iff()` allowed! Group multiple with `.&`.")
    (length(bys)  > 1) && throw("Only one `by()`  allowed! Group multiple by with `,`.")
    
    (length(iffs) == 1) && (iffs[1].head = :(=); iffs[1].args[1] = :iff)
    
    groupbys = (length(bys) == 1) ? (x -> (x isa QuoteNode ? eval(x) : x)).(bys[1].args[2:end]) : []

    d = copy(eval(df))

    (length(iffs) == 0) && (selector = fill(true, size(d, 1)))
    (length(iffs) == 1) && (selector = eval(:( (@transform $d $(iffs...)).iff) ))

    xout = d[selector, :]

    # If bys have been defined then group the dataframe by $bys
    (length(bys) == 1) && (xout = groupby(xout, [groupbys...]))

    xout = eval(:(  @transform $xout $(targets...) ))

    # If bys have been defined then ungroup the dataframe by $bys
    (length(bys) == 1) && (xout = DataFrame(xout))

    d = fillmissing(xout, d)

    d[selector, names(xout)] = xout

    d

end

@mod (macro with 2 methods)

In [11]:
macro mod!(x, args...)
    quote
        global $x
        $x = @mod $x $(args...)
    end
end

@mod! (macro with 1 method)

In [12]:
# using DataFrames: _replace_columns!

In [13]:
# using DataFrames: _columns, index, _names, _replace_columns!

In [14]:
copy!(x::DataFrame, y::DataFrame) = DataFrames._replace_columns!(x, y)

copy! (generic function with 1 method)

In [15]:
x

5×4 DataFrame
 Row │ A      B      C      z
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │     1      2      2      1
   2 │     2      1      2      1
   3 │     3      2      2      1
   4 │     4      1      1      1
   5 │     5      2      1      1

In [16]:
y = @transform x (a = :A .* :B) (bb = :A .^ :B)

5×6 DataFrame
 Row │ A      B      C      z      a      bb
     │ Int64  Int64  Int64  Int64  Int64  Int64
─────┼──────────────────────────────────────────
   1 │     1      2      2      1      2      1
   2 │     2      1      2      1      2      2
   3 │     3      2      2      1      6      9
   4 │     4      1      1      1      4      4
   5 │     5      2      1      1     10     25

5×6 DataFrame
 Row │ A      B      C      z      a      bb
     │ Int64  Int64  Int64  Int64  Int64  Int64
─────┼──────────────────────────────────────────
   1 │     1      2      2      1      2      1
   2 │     2      1      2      1      2      2
   3 │     3      2      2      1      6      9
   4 │     4      1      1      1      4      4
   5 │     5      2      1      1     10     25

In [22]:
macro mod!(x, args...)    
    quote
        y = @mod $x $(args...)
        copy!($x, y)
    end
end

@mod! (macro with 1 method)

### Tests

In [23]:
n = 10
x = DataFrame(A=1:n, B=rand(1:2, n), C=rand(1:2, n))

10×3 DataFrame
 Row │ A      B      C
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      2      1
   2 │     2      1      2
   3 │     3      1      1
   4 │     4      1      2
   5 │     5      2      1
   6 │     6      1      1
   7 │     7      2      1
   8 │     8      1      1
   9 │     9      2      2
  10 │    10      2      1

In [24]:
# @mount x
@mod! x             D = 0                            (run=0)
@mod! x             D = :C + :B                      (run=1)  :if((2 .< :A) .& (:A .< 6))
@mod! x             E = round.(:A .^ .5, digits = 1) (run=2)  :if(:B .< :A .- 1)
@mod! x   by(B, C)  H = round(mean(:A) , digits = 1) (run=3)  :if(:A .> 3)

10×7 DataFrame
 Row │ A      B      C      D         run       E          H
     │ Int64  Int64  Int64  Float64?  Float64?  Float64?   Float64?
─────┼───────────────────────────────────────────────────────────────
   1 │     1      2      1       0.0       0.0  missing    missing
   2 │     2      1      2       0.0       0.0  missing    missing
   3 │     3      1      1       2.0       2.0        1.7  missing
   4 │     4      1      2       3.0       3.0        2.0        4.0
   5 │     5      2      1       3.0       3.0        2.2        7.3
   6 │     7      2      1       0.0       3.0        2.6        7.3
   7 │    10      2      1       0.0       3.0        3.2        7.3
   8 │     6      1      1       0.0       3.0        2.4        7.0
   9 │     8      1      1       0.0       3.0        2.8        7.0
  10 │     9      2      2       0.0       3.0        3.0        9.0

In [25]:
@mod x z=0

10×8 DataFrame
 Row │ A      B      C      D         run       E          H          z        ⋯
     │ Int64  Int64  Int64  Float64?  Float64?  Float64?   Float64?   Float64? ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     1      2      1       0.0       0.0  missing    missing         0.0 ⋯
   2 │     2      1      2       0.0       0.0  missing    missing         0.0
   3 │     3      1      1       2.0       2.0        1.7  missing         0.0
   4 │     4      1      2       3.0       3.0        2.0        4.0       0.0
   5 │     5      2      1       3.0       3.0        2.2        7.3       0.0 ⋯
   6 │     7      2      1       0.0       3.0        2.6        7.3       0.0
   7 │    10      2      1       0.0       3.0        3.2        7.3       0.0
   8 │     6      1      1       0.0       3.0        2.4        7.0       0.0
   9 │     8      1      1       0.0       3.0        2.8        7.0       0.0 ⋯
  10 │     9      2      2       0.0       3.0        3.0        9.0       0.0

In [26]:
x

10×7 DataFrame
 Row │ A      B      C      D         run       E          H
     │ Int64  Int64  Int64  Float64?  Float64?  Float64?   Float64?
─────┼───────────────────────────────────────────────────────────────
   1 │     1      2      1       0.0       0.0  missing    missing
   2 │     2      1      2       0.0       0.0  missing    missing
   3 │     3      1      1       2.0       2.0        1.7  missing
   4 │     4      1      2       3.0       3.0        2.0        4.0
   5 │     5      2      1       3.0       3.0        2.2        7.3
   6 │     7      2      1       0.0       3.0        2.6        7.3
   7 │    10      2      1       0.0       3.0        3.2        7.3
   8 │     6      1      1       0.0       3.0        2.4        7.0
   9 │     8      1      1       0.0       3.0        2.8        7.0
  10 │     9      2      2       0.0       3.0        3.0        9.0

### Other Macros

In [60]:
macro transform!(x, args...)
    quote
        global $x
        $x = @transform $x $(args...)
    end
end

@transform! (macro with 2 methods)

In [61]:
@transform! x (z = 0)

7×8 DataFrame
 Row │ A      B      C      D         run       E          H          z
     │ Int64  Int64  Int64  Float64?  Float64?  Float64?   Float64?   Int64
─────┼──────────────────────────────────────────────────────────────────────
   1 │     1      1      2       0.0       0.0  missing    missing        0
   2 │     2      2      1       0.0       0.0  missing    missing        0
   3 │     3      1      2       3.0       2.0        1.7  missing        0
   4 │     4      2      1       3.0       3.0        2.0        5.3      0
   5 │     5      2      1       3.0       3.0        2.2        5.3      0
   6 │     6      1      2       0.0       3.0        2.4        6.0      0
   7 │     7      2      1       0.0       3.0        2.6        5.3      0

In [35]:
macro mount(x)
    quote
        global mounted
        mounted = copy($x)
    end
end

@mount (macro with 1 method)

In [36]:
macro unmountas(x)
    quote
        global mounted, $x
        $x = copy(mounted)
    end
end

@unmountas (macro with 1 method)

In [37]:
function typenotfirst(x) 
    y = []
    if (typeof(x) == Array{Any,1}) 
        for v in x[2:end]
           (typeof(v) == Expr)         && append!(y, typenotfirst(v.args))
           (typeof(v) != Array{Any,1}) && append!(y, [typeof(v)])
        end
    end
    return(unique(y))
end

typenotfirst (generic function with 1 method)

In [38]:
macro printargs(ee...)
    println(ee)
    println(fieldnames(typeof(ee[1])))
    
    println(ee[1].args)
    println("ee[1].head = ", ee[1].head)
    println("typeof(ee[1].head)", typeof(ee[1].head))
    ee[1].head = :(=)
    
    println("ee[1].head = ", ee[1].head)
    println("typeof(ee[1].head)", typeof(ee[1].head))

    ee[2].args[1] = :g
    
    println(ee[2].args)
    println(ee[2].head)
    println(ee)
    
    println(ee[1].args)
    println(ee[1].args[2:end] == ee[2].args[2:end])
    println(typeof(Expr.(Symbol.(ee[1].args[2:end]))))
end
@printargs iff(:A > :B) iff = :A > :B

(:(iff(:A > :B)), :(iff = :A > :B))
(:head, :args)
Any[:iff, :(:A > :B)]
ee[1].head = call
typeof(ee[1].head)Symbol
ee[1].head = =
typeof(ee[1].head)Symbol
Any[:g, :(:A > :B)]
=
(:(iff = :A > :B), :(g = :A > :B))
Any[:iff, :(:A > :B)]
true
Vector{Expr}

In [40]:
@printargs iff(:A > :B) iff = :A > :B

(:(iff(:A > :B)), :(iff = :A > :B))
(:head, :args)
Any[:iff, :(:A > :B)]
ee[1].head = call
typeof(ee[1].head)Symbol
ee[1].head = =
typeof(ee[1].head)Symbol
Any[:g, :(:A > :B)]
=
(:(iff = :A > :B), :(g = :A > :B))
Any[:iff, :(:A > :B)]
true
Vector{Expr}

In [41]:
macro notfirst(ee...)
    println(ee)
    println("typeof($(ee.args[1])) = ", typeof(ee.args[1]), " "^10
        ,"isidentifier($(ee.args[1])) = ", Base.isidentifier(ee.args[1]))
    println(typeof(ee.args[2]))
#     global y
#     y = []
    x = typenotfirst(ee.args)
    println("$x contains QuoteNode: ", QuoteNode in x)
end

@notfirst (macro with 1 method)

In [42]:
macro gby(ee...)
    println(ee)

    iffs = [v for v in ee if v.args[1] == :iff ]
    bys  = [v for v in ee if v.args[1] == :by ]
    
    println("iffs $iffs")
    println("bys  $bys")
    
    (length(bys) > 0) && (groupbys = bys[1].args[2:end])
    
    quote
        global mounted
        mounted = groupby(mounted, [$(groupbys...)])
    end
end

@gby (macro with 1 method)

In [43]:
macro p(ee...)
    println(ee[1])
    println(ee[1].args)
end

@p (macro with 1 method)

In [44]:
@p :if(x)

(:if)(x)
Any[:(:if), :x]

In [45]:
x = Expr(:a,:b,:c)
return :( print($x) )

:(print($(Expr(:a, :b, :c))))

In [46]:
@gby by(:a .> :B)

(:(by(:a .> :B)),)
iffs Expr[]
bys  Expr[:(by(:a .> :B))]

LoadError: UndefVarError: mounted not defined

In [17]:
    iffset = r"^(iff|when|\(:if\))\("
    byset  = r"^(by)\("

r"^(by)\("

In [18]:
instance

LoadError: UndefVarError: instance not defined

In [18]:
rename!(x, :A=>:a, :B=>:b, :C=>:c)

7×7 DataFrame
 Row │ a      b      c      D         run       E          H
     │ Int64  Int64  Int64  Float64?  Float64?  Float64?   Float64?
─────┼───────────────────────────────────────────────────────────────
   1 │     1      1      1       0.0       0.0  missing    missing
   2 │     2      2      1       0.0       0.0  missing    missing
   3 │     3      2      2       4.0       1.0  missing    missing
   4 │     4      1      2       3.0       3.0        2.0        4.0
   5 │     5      1      1       2.0       3.0        2.2        5.5
   6 │     6      1      1       0.0       3.0        2.4        5.5
   7 │     7      2      2       0.0       3.0        2.6        7.0

In [20]:
@mod x  s = 0.0

7×8 DataFrame
 Row │ a      b      c      D         run       E          H          s        ⋯
     │ Int64  Int64  Int64  Float64?  Float64?  Float64?   Float64?   Float64? ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     1      1      1       0.0       0.0  missing    missing         0.0 ⋯
   2 │     2      2      1       0.0       0.0  missing    missing         0.0
   3 │     3      2      2       4.0       1.0  missing    missing         0.0
   4 │     4      1      2       3.0       3.0        2.0        4.0       0.0
   5 │     5      1      1       2.0       3.0        2.2        5.5       0.0 ⋯
   6 │     6      1      1       0.0       3.0        2.4        5.5       0.0
   7 │     7      2      2       0.0       3.0        2.6        7.0       0.0

In [22]:
@mod x  somevar = :a .* :E

7×8 DataFrame
 Row │ a      b      c      D         run       E          H          somevar  ⋯
     │ Int64  Int64  Int64  Float64?  Float64?  Float64?   Float64?   Float64? ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     1      1      1       0.0       0.0  missing    missing    missing  ⋯
   2 │     2      2      1       0.0       0.0  missing    missing    missing
   3 │     3      2      2       4.0       1.0  missing    missing    missing
   4 │     4      1      2       3.0       3.0        2.0        4.0        8.
   5 │     5      1      1       2.0       3.0        2.2        5.5       11. ⋯
   6 │     6      1      1       0.0       3.0        2.4        5.5       14.
   7 │     7      2      2       0.0       3.0        2.6        7.0       18.
                                                                1 column omitted

In [46]:
x

7×6 DataFrame
│ Row │ A     │ B     │ C     │ D        │ E        │ H        │
│     │ Int64 │ Int64 │ Int64 │ Float64? │ Float64? │ Float64? │
├─────┼───────┼───────┼───────┼──────────┼──────────┼──────────┤
│ 1   │ 1     │ 2     │ 1     │ missing  │ missing  │ missing  │
│ 2   │ 2     │ 2     │ 2     │ missing  │ missing  │ missing  │
│ 3   │ 3     │ 2     │ 1     │ 3.0      │ missing  │ 5.0      │
│ 4   │ 5     │ 2     │ 1     │ 3.0      │ 2.2      │ 5.0      │
│ 5   │ 7     │ 2     │ 2     │ missing  │ 2.6      │ 5.0      │
│ 6   │ 4     │ 1     │ 2     │ 3.0      │ 2.0      │ 5.0      │
│ 7   │ 6     │ 1     │ 1     │ missing  │ 2.4      │ 5.0      │

In [167]:
string(QuoteNode)

"QuoteNode"

In [184]:
macro byprint(df, args...)
    
    println(args[1])
    println(typeof(args[1]))
    println(args[1].args)
    println(typeof.(args[1].args))
    println(QuoteNode.(string.(args[1].args[2:end])))
    
    targets = [v for v in args if !(occursin(r"^(iff|by)\(", string(v))) ]
    iffs    = [v for v in args if   string(v)[1:4] == "iff(" ]
    bys     = [v for v in args if   string(v)[1:3] == "by("  ]
    
    (length(iffs) > 1) && throw("Only one `iff()` allowed! Group multiple with `.&`.")
    (length(bys)  > 1) && throw("Only one `by()`  allowed! Group multiple by with `,`.")
    
    (length(iffs) == 1) && (iffs[1].head = :(=))
    
    byprint = []
    (length(bys)  == 1) && (byprint = (x -> eval(x)).(bys[1].args[2:end]))
    
    quote
        groupby($df, [$byprint...])
    end
    
end

@byprint (macro with 1 method)

In [183]:
(x -> eval(x)).([:(:B)])

1-element Vector{Symbol}:
 :B

In [180]:
eval(:(:B))

:B

In [185]:
@byprint x   by(:B, :C)  G = round(mean(:A),digits = 1)          iff(:A .> 2)

by(:B, :C)
Expr
Any[:by, :(:B), :(:C)]
DataType[Symbol, QuoteNode, QuoteNode]
QuoteNode[:($(QuoteNode(":B"))), :($(QuoteNode(":C")))]

GroupedDataFrame with 4 groups based on keys: B, C
First Group (2 rows): B = 2, C = 2
│ Row │ A     │ B     │ C     │ D        │ E        │ H        │
│     │ Int64 │ Int64 │ Int64 │ Float64? │ Float64? │ Float64? │
├─────┼───────┼───────┼───────┼──────────┼──────────┼──────────┤
│ 1   │ 1     │ 2     │ 2     │ missing  │ missing  │ missing  │
│ 2   │ 6     │ 2     │ 2     │ missing  │ 2.4      │ 6.0      │
⋮
Last Group (1 row): B = 2, C = 1
│ Row │ A     │ B     │ C     │ D        │ E        │ H        │
│     │ Int64 │ Int64 │ Int64 │ Float64? │ Float64? │ Float64? │
├─────┼───────┼───────┼───────┼──────────┼──────────┼──────────┤
│ 1   │ 7     │ 2     │ 1     │ missing  │ 2.6      │ 7.0      │

In [155]:
@byprint x   by(B, C)  G = round(mean(:A),digits = 1)          iff(:A .> 2)

by(B, C)
Expr
Any[:by, :B, :C]

GroupedDataFrame with 4 groups based on keys: B, C
First Group (2 rows): B = 2, C = 2
│ Row │ A     │ B     │ C     │ D        │ E        │ H        │
│     │ Int64 │ Int64 │ Int64 │ Float64? │ Float64? │ Float64? │
├─────┼───────┼───────┼───────┼──────────┼──────────┼──────────┤
│ 1   │ 1     │ 2     │ 2     │ missing  │ missing  │ missing  │
│ 2   │ 6     │ 2     │ 2     │ missing  │ 2.4      │ 6.0      │
⋮
Last Group (1 row): B = 2, C = 1
│ Row │ A     │ B     │ C     │ D        │ E        │ H        │
│     │ Int64 │ Int64 │ Int64 │ Float64? │ Float64? │ Float64? │
├─────┼───────┼───────┼───────┼──────────┼──────────┼──────────┤
│ 1   │ 7     │ 2     │ 1     │ missing  │ 2.6      │ 7.0      │

In [145]:
@byprint x   by(:B, :C)  G = round(mean(:A),digits = 1)          iff(:A .> 2)

by(:B, :C)

LoadError: ArgumentError: idxs[1] has type QuoteNode; only Integer, Symbol, or string values allowed when indexing by vector

In [184]:
@transform! x H = 0

7×6 DataFrame
│ Row │ A     │ B     │ C     │ D        │ E        │ H     │
│     │ Int64 │ Int64 │ Int64 │ Float64? │ Float64? │ Int64 │
├─────┼───────┼───────┼───────┼──────────┼──────────┼───────┤
│ 1   │ 1     │ 2     │ 1     │ missing  │ missing  │ 0     │
│ 2   │ 2     │ 2     │ 2     │ missing  │ missing  │ 0     │
│ 3   │ 3     │ 1     │ 2     │ 3.0      │ 1.7      │ 0     │
│ 4   │ 4     │ 1     │ 2     │ 3.0      │ 2.0      │ 0     │
│ 5   │ 5     │ 2     │ 1     │ 3.0      │ 2.2      │ 0     │
│ 6   │ 6     │ 2     │ 2     │ missing  │ 2.4      │ 0     │
│ 7   │ 7     │ 2     │ 1     │ missing  │ 2.6      │ 0     │

In [178]:
@transform! x H = -999

LoadError: UndefVarError: #301#x not defined

In [164]:
@make (H = -999) iff(:H .=== missing)

7×6 DataFrame
│ Row │ A     │ B     │ C     │ D        │ E        │ H        │
│     │ Int64 │ Int64 │ Int64 │ Float64? │ Float64? │ Float64? │
├─────┼───────┼───────┼───────┼──────────┼──────────┼──────────┤
│ 1   │ 1     │ 1     │ 1     │ missing  │ missing  │ -999.0   │
│ 2   │ 2     │ 2     │ 1     │ missing  │ missing  │ -999.0   │
│ 3   │ 3     │ 2     │ 1     │ 3.0      │ missing  │ 5.0      │
│ 4   │ 4     │ 2     │ 1     │ 3.0      │ 2.0      │ 5.0      │
│ 5   │ 5     │ 2     │ 1     │ 3.0      │ 2.2      │ 5.0      │
│ 6   │ 6     │ 2     │ 1     │ missing  │ 2.4      │ 5.0      │
│ 7   │ 7     │ 2     │ 1     │ missing  │ 2.6      │ 5.0      │

1

7×9 DataFrame. Omitted printing of 2 columns
│ Row │ A     │ B     │ C     │ E        │ iff     │ F        │ G        │
│     │ Int64 │ Int64 │ Int64 │ Float64? │ String? │ Float64? │ Float64? │
├─────┼───────┼───────┼───────┼──────────┼─────────┼──────────┼──────────┤
│ 1   │ 1     │ 1     │ 2     │ 2.0      │ 23b     │ missing  │ missing  │
│ 2   │ 2     │ 1     │ 2     │ 2.0      │ 23b     │ missing  │ missing  │
│ 3   │ 3     │ 2     │ 1     │ 1.0      │ 23b     │ missing  │ missing  │
│ 4   │ 4     │ 2     │ 1     │ 2.0      │ 23b     │ 16.0     │ 1.0      │
│ 5   │ 5     │ 1     │ 2     │ 2.23607  │ 23b     │ 25.0     │ 1.0      │
│ 6   │ 6     │ 2     │ 1     │ 2.44949  │ 23b     │ 36.0     │ 1.0      │
│ 7   │ 7     │ 2     │ 2     │ 2.64575  │ 23b     │ 49.0     │ 1.0      │

In [59]:
@make (by = B) ( H = mean(:A)) @iff(:A .> 3)

Expr[]

LoadError: LoadError: ArgumentError: Expressions not of the form `y = f(:x)` currently disallowed.
in expression starting at In[50]:30

In [360]:
@make by(B) ( H = mean(:A) * :I ) iff(:A .> 3)

7×8 DataFrame. Omitted printing of 1 columns
│ Row │ A     │ B     │ C     │ status   │ E        │ F        │ G        │
│     │ Int64 │ Int64 │ Int64 │ String?  │ Float64? │ Float64? │ Float64? │
├─────┼───────┼───────┼───────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 1     │ 2     │ 1     │ Unmapped │ 1.0      │ missing  │ missing  │
│ 2   │ 2     │ 2     │ 2     │ Unmapped │ 2.0      │ missing  │ missing  │
│ 3   │ 3     │ 2     │ 1     │ Unmapped │ 1.0      │ missing  │ missing  │
│ 4   │ 4     │ 2     │ 2     │ Map 1    │ 2.0      │ 16.0     │ 1.0      │
│ 5   │ 5     │ 1     │ 1     │ Map 1    │ 2.23607  │ 25.0     │ 1.0      │
│ 6   │ 6     │ 1     │ 2     │ Map 1    │ 2.44949  │ 36.0     │ 1.0      │
│ 7   │ 7     │ 1     │ 2     │ Map 1    │ 2.64575  │ 49.0     │ 1.0      │

In [21]:
@transform x D = 1

MethodError: MethodError: no method matching setindex!(::DataFrame, ::Int64, ::typeof(!), ::Symbol)
Closest candidates are:
  setindex!(::DataFrame, !Matched::AbstractArray{T,1} where T, ::typeof(!), ::Union{AbstractString, Signed, Symbol, Unsigned}) at C:\Users\francis.smart.ctr\.juliapro\JuliaPro_v1.4.1-1\packages\DataFrames\lfoTw\src\dataframe\dataframe.jl:544
  setindex!(::DataFrame, ::Any, !Matched::Integer, ::Union{AbstractString, Signed, Symbol, Unsigned}) at C:\Users\francis.smart.ctr\.juliapro\JuliaPro_v1.4.1-1\packages\DataFrames\lfoTw\src\dataframe\dataframe.jl:557
  setindex!(::DataFrame, ::Any, !Matched::AbstractArray{T,1} where T, ::Union{AbstractString, Signed, Symbol, Unsigned}) at C:\Users\francis.smart.ctr\.juliapro\JuliaPro_v1.4.1-1\packages\DataFrames\lfoTw\src\deprecated.jl:178
  ...

In [107]:
@make (status2 = "Unmapped")

LoadError: "Constant Assignment Error Expr[:(status2 = \"Unmapped\")]: Constantfound without broadcasting. Use `x * :I` "

In [85]:
mounted[!, Cols(:Status, Not(:Status))]

UndefVarError: UndefVarError: Cols not defined

###  Other Explorations

In [32]:
n = 10
a = 1
x = DataFrame(A=1:n, B=rand(n) .* n, C=rand(n) .* n, D=randstring.(rand(1:5, n)), fixed=a)

10×5 DataFrame
│ Row │ A     │ B        │ C        │ D      │ fixed │
│     │ Int64 │ Float64  │ Float64  │ String │ Int64 │
├─────┼───────┼──────────┼──────────┼────────┼───────┤
│ 1   │ 1     │ 1.28889  │ 7.22447  │ k      │ 1     │
│ 2   │ 2     │ 8.33521  │ 9.8545   │ O      │ 1     │
│ 3   │ 3     │ 3.23904  │ 0.261242 │ Ou6    │ 1     │
│ 4   │ 4     │ 1.47956  │ 6.68836  │ HVC    │ 1     │
│ 5   │ 5     │ 4.56603  │ 2.23327  │ qq     │ 1     │
│ 6   │ 6     │ 9.89271  │ 1.72224  │ K      │ 1     │
│ 7   │ 7     │ 6.93097  │ 1.37499  │ Bk     │ 1     │
│ 8   │ 8     │ 5.88084  │ 4.53204  │ FZj    │ 1     │
│ 9   │ 9     │ 5.97403  │ 6.71357  │ 4kX4q  │ 1     │
│ 10  │ 10    │ 0.221157 │ 0.822651 │ mWc    │ 1     │

In [33]:
@mount x

10×5 DataFrame
│ Row │ A     │ B        │ C        │ D      │ fixed │
│     │ Int64 │ Float64  │ Float64  │ String │ Int64 │
├─────┼───────┼──────────┼──────────┼────────┼───────┤
│ 1   │ 1     │ 1.28889  │ 7.22447  │ k      │ 1     │
│ 2   │ 2     │ 8.33521  │ 9.8545   │ O      │ 1     │
│ 3   │ 3     │ 3.23904  │ 0.261242 │ Ou6    │ 1     │
│ 4   │ 4     │ 1.47956  │ 6.68836  │ HVC    │ 1     │
│ 5   │ 5     │ 4.56603  │ 2.23327  │ qq     │ 1     │
│ 6   │ 6     │ 9.89271  │ 1.72224  │ K      │ 1     │
│ 7   │ 7     │ 6.93097  │ 1.37499  │ Bk     │ 1     │
│ 8   │ 8     │ 5.88084  │ 4.53204  │ FZj    │ 1     │
│ 9   │ 9     │ 5.97403  │ 6.71357  │ 4kX4q  │ 1     │
│ 10  │ 10    │ 0.221157 │ 0.822651 │ mWc    │ 1     │

In [34]:
macro unmount(x)
    quote
        global $x
        $x = copy(mounted)
    end
end

@unmount (macro with 1 method)

In [35]:
@unmount y

10×5 DataFrame
│ Row │ A     │ B        │ C        │ D      │ fixed │
│     │ Int64 │ Float64  │ Float64  │ String │ Int64 │
├─────┼───────┼──────────┼──────────┼────────┼───────┤
│ 1   │ 1     │ 1.28889  │ 7.22447  │ k      │ 1     │
│ 2   │ 2     │ 8.33521  │ 9.8545   │ O      │ 1     │
│ 3   │ 3     │ 3.23904  │ 0.261242 │ Ou6    │ 1     │
│ 4   │ 4     │ 1.47956  │ 6.68836  │ HVC    │ 1     │
│ 5   │ 5     │ 4.56603  │ 2.23327  │ qq     │ 1     │
│ 6   │ 6     │ 9.89271  │ 1.72224  │ K      │ 1     │
│ 7   │ 7     │ 6.93097  │ 1.37499  │ Bk     │ 1     │
│ 8   │ 8     │ 5.88084  │ 4.53204  │ FZj    │ 1     │
│ 9   │ 9     │ 5.97403  │ 6.71357  │ 4kX4q  │ 1     │
│ 10  │ 10    │ 0.221157 │ 0.822651 │ mWc    │ 1     │

In [36]:
y

10×5 DataFrame
│ Row │ A     │ B        │ C        │ D      │ fixed │
│     │ Int64 │ Float64  │ Float64  │ String │ Int64 │
├─────┼───────┼──────────┼──────────┼────────┼───────┤
│ 1   │ 1     │ 1.28889  │ 7.22447  │ k      │ 1     │
│ 2   │ 2     │ 8.33521  │ 9.8545   │ O      │ 1     │
│ 3   │ 3     │ 3.23904  │ 0.261242 │ Ou6    │ 1     │
│ 4   │ 4     │ 1.47956  │ 6.68836  │ HVC    │ 1     │
│ 5   │ 5     │ 4.56603  │ 2.23327  │ qq     │ 1     │
│ 6   │ 6     │ 9.89271  │ 1.72224  │ K      │ 1     │
│ 7   │ 7     │ 6.93097  │ 1.37499  │ Bk     │ 1     │
│ 8   │ 8     │ 5.88084  │ 4.53204  │ FZj    │ 1     │
│ 9   │ 9     │ 5.97403  │ 6.71357  │ 4kX4q  │ 1     │
│ 10  │ 10    │ 0.221157 │ 0.822651 │ mWc    │ 1     │

In [37]:
# macro make(e)
#     quote
#        global mounted
#        mounted = @transform mounted $e
#     end
# end

In [38]:
# @make D = :B .+ :C

In [39]:
# mounted

In [40]:
# macro make(e, f)
#     quote
#         global mounted, xout, selector
#         cond = @transform mounted $f
#         selector = cond.iff
#         x = mounted[selector, :]
        
#         xout = @transform x $e
        
#         for v in names(xout)
#             if !hasproperty(mounted, v)                 mounted[!, v] .= NaN
#             end
#         end
        
#         mounted[selector, names(xout)] = xout
#         print(mounted)
        
#     end
# end

In [41]:
# x = 1:10
# [i ^2 for ]

In [42]:
# mounted

In [43]:
# @make2 (D = :B .+ :C) (E = :B .+ :C) iff(:A .> :B)

In [44]:
# mounted

In [45]:
function funnel(ee::Expr)
    print()
    if (ee.args[1]==:|>)
        target = funnel(ee.args[2]) #Recurse
        rewrite(ee.args[3],target)
    elseif (ee.args[1]==:.|>)
        target = funnel(ee.args[2]) #Recurse
        rewritten = rewrite_broadcasted(ee.args[3],target)
        ee.args[3] = rewritten
        ee
    else
        #Not in a piping situtation
        ee #make no change
    end
end

macro pipe(ee)
    esc(funnel(ee))
end

@pipe (macro with 1 method)

In [46]:
macro printer(ee)
    esc(funneler(ee))
end

@printer (macro with 1 method)

In [47]:
function funneler(ee::Expr)
    println(ee.args)
    println(typeof(ee.args[1]))
    println(typeof(ee.args[2]))
    if typeof(ee.args[2]) <: Expr
        println(ee.args[2].args)
        println(typeof(ee.args[2].args))
    end
end

funneler (generic function with 1 method)

In [48]:
macro funneler(ee)
    println(ee.args)
    println(length(ee.args))
    println(ee.args[1] == :(:iff))
    
    println(typeof(ee.args[1]))
    println(typeof(ee.args[2]))
    if typeof(ee.args[2]) <: Expr
        println(ee.args[2].args)
        println(typeof(ee.args[2].args))
    end
end

@funneler (macro with 1 method)

In [49]:
@funneler :iff(:A .> :B)

Any[:(:iff), :(:A .> :B)]
2
true
QuoteNode
Expr
Any[:.>, :(:A), :(:B)]
Array{Any,1}

In [50]:
@funneler A .= "A"

Any[:A, "A"]
2
false
Symbol
String

In [51]:
@funneler A .= :A .* :B

Any[:A, :(:A .* :B)]
2
false
Symbol
Expr
Any[:.*, :(:A), :(:B)]
Array{Any,1}

In [52]:
y = []
append!(y, 1)

1-element Array{Any,1}:
 1

In [53]:
y

1-element Array{Any,1}:
 1

In [54]:
@notfirst L234(1 * 1 * :s * "t" * mean(:x))

(:(L234(1 * 1 * :s * "t" * mean(:x))),)

LoadError: type Tuple has no field args

In [55]:
@notfirst L234 = :1

(:(L234 = $(QuoteNode(1))),)

LoadError: type Tuple has no field args

In [56]:
z(x) = "z"

z (generic function with 1 method)

In [57]:
fill.("z", [1,2].^ 0)

2-element Array{Array{String,1},1}:
 ["z"]
 ["z"]

In [58]:
mounted

10×5 DataFrame
│ Row │ A     │ B        │ C        │ D      │ fixed │
│     │ Int64 │ Float64  │ Float64  │ String │ Int64 │
├─────┼───────┼──────────┼──────────┼────────┼───────┤
│ 1   │ 1     │ 1.28889  │ 7.22447  │ k      │ 1     │
│ 2   │ 2     │ 8.33521  │ 9.8545   │ O      │ 1     │
│ 3   │ 3     │ 3.23904  │ 0.261242 │ Ou6    │ 1     │
│ 4   │ 4     │ 1.47956  │ 6.68836  │ HVC    │ 1     │
│ 5   │ 5     │ 4.56603  │ 2.23327  │ qq     │ 1     │
│ 6   │ 6     │ 9.89271  │ 1.72224  │ K      │ 1     │
│ 7   │ 7     │ 6.93097  │ 1.37499  │ Bk     │ 1     │
│ 8   │ 8     │ 5.88084  │ 4.53204  │ FZj    │ 1     │
│ 9   │ 9     │ 5.97403  │ 6.71357  │ 4kX4q  │ 1     │
│ 10  │ 10    │ 0.221157 │ 0.822651 │ mWc    │ 1     │

In [59]:
iff(x) = x

iff (generic function with 1 method)

In [60]:
DataFramesMeta.fun_to_vec()

UndefVarError: UndefVarError: fun_to_vec not defined

In [61]:
@make    E = -:B                    iff(:E .=== NaN)

iffs = Expr[:(iff(:E .=== NaN))]

ArgumentError: ArgumentError: column name :E not found in the data frame; existing most similar names are: :A, :B, :C and :D

In [62]:
function transform!_helper(x, args...)

    t = (DataFramesMeta.fun_to_vec(arg) for arg in args)

    quote
        $DataFrames.transform!($x, $(t...))
    end
end

transform!_helper (generic function with 1 method)

In [63]:
macro tostring(x)
    y = string(x)
    quote 
        $y
    end
end

@tostring (macro with 1 method)

In [64]:
macro make(e, iff)
    
    f = DataFramesMeta.fun_to_vec(f)
    e = DataFramesMeta.fun_to_vec(e)
    
    quote
        global mounted, xout, selector
        cond = $DataFrames.transform!(mounted, $f => :iff)
        print(cond)

        @transform mounted $iff
        selector = cond.iff
        x = mounted[selector, :]
        
        xout = @transform x $e
#         println(xout)
        
        for v in names(xout)
            if !hasproperty(mounted, v)
                mounted[!, v] .= NaN
                mounted = allowmissing(mounted)
#                 mounted[!, v] .= missing
            end
        end
        
        mounted[selector, names(xout)] = xout
        print(mounted)
        
    end
end

@make (macro with 2 methods)

In [65]:
mounted[!, "C"]

10-element Array{Float64,1}:
 7.224465513697629
 9.854495545893053
 0.2612418738744582
 6.688361330850007
 2.233268958830099
 1.7222395059501316
 1.374990687710722
 4.532036118276503
 6.713574018348913
 0.8226509890771205

In [66]:
size(mounted,2)

5

In [67]:
mounted.C

10-element Array{Float64,1}:
 7.224465513697629
 9.854495545893053
 0.2612418738744582
 6.688361330850007
 2.233268958830099
 1.7222395059501316
 1.374990687710722
 4.532036118276503
 6.713574018348913
 0.8226509890771205

In [68]:
mounted[:, size(mounted,2)]

10-element Array{Int64,1}:
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1

In [69]:
@tostring :A==:B

":A == :B"

In [70]:
replace(mounted, -9999.9 => NaN)

MethodError: MethodError: no method matching similar(::DataFrame, ::Type{Any})
Closest candidates are:
  similar(!Matched::ZMQ.Message, ::Type{T}, !Matched::Tuple{Vararg{Int64,N}} where N) where T at C:\Users\francis.smart.ctr\.juliapro\JuliaPro_v1.4.1-1\packages\ZMQ\R3wSD\src\message.jl:93
  similar(!Matched::Array{T,1}, ::Type) where T at array.jl:358
  similar(!Matched::Array{T,2}, ::Type) where T at array.jl:359
  ...

In [71]:
macro iff(x)
    quote 
        iff = $x
    end
end

@iff (macro with 1 method)

In [72]:
@make (E = :B .* (:C .- min(:C...))) @iff(:B .> :C)

LoadError: UndefVarError: fun_to_vec not defined

In [73]:
for v in names(xout)
    x = fill(Any, size(mounted,1))
    print(x)
    x[.!selector] = mounted[.!selector, v]
    print(x)
    x[selector] = xout[selector,v]
    print(x)
end

DataType[Any, Any, Any, Any, Any, Any, Any, Any, Any, Any]

BoundsError: BoundsError: attempt to access 10×5 DataFrame
  at index [Bool[1, 1, 1, 0, 1], A]

In [74]:
fill(Any, size(xout,1))

1-element Array{DataType,1}:
 Any

In [75]:
mounted[:, :F] .= Union{Missing, Float64}

10-element Array{Union,1}:
 Union{Missing, Float64}
 Union{Missing, Float64}
 Union{Missing, Float64}
 Union{Missing, Float64}
 Union{Missing, Float64}
 Union{Missing, Float64}
 Union{Missing, Float64}
 Union{Missing, Float64}
 Union{Missing, Float64}
 Union{Missing, Float64}

In [76]:
mounted

10×6 DataFrame
│ Row │ A     │ B        │ C        │ D      │ fixed │ F                       │
│     │ Int64 │ Float64  │ Float64  │ String │ Int64 │ Union                   │
├─────┼───────┼──────────┼──────────┼────────┼───────┼─────────────────────────┤
│ 1   │ 1     │ 1.28889  │ 7.22447  │ k      │ 1     │ Union{Missing, Float64} │
│ 2   │ 2     │ 8.33521  │ 9.8545   │ O      │ 1     │ Union{Missing, Float64} │
│ 3   │ 3     │ 3.23904  │ 0.261242 │ Ou6    │ 1     │ Union{Missing, Float64} │
│ 4   │ 4     │ 1.47956  │ 6.68836  │ HVC    │ 1     │ Union{Missing, Float64} │
│ 5   │ 5     │ 4.56603  │ 2.23327  │ qq     │ 1     │ Union{Missing, Float64} │
│ 6   │ 6     │ 9.89271  │ 1.72224  │ K      │ 1     │ Union{Missing, Float64} │
│ 7   │ 7     │ 6.93097  │ 1.37499  │ Bk     │ 1     │ Union{Missing, Float64} │
│ 8   │ 8     │ 5.88084  │ 4.53204  │ FZj    │ 1     │ Union{Missing, Float64} │
│ 9   │ 9     │ 5.97403  │ 6.71357  │ 4kX4q  │ 1     │ Union{Missing, Float64} │
│ 10  │ 10    │ 0.221157 │ 0.822651 │ mWc    │ 1     │ Union{Missing, Float64} │

In [77]:
d = DataFrame(A = 1:5, B = 5:-1:1)
@transform d iff = :A .* :B

5×3 DataFrame
│ Row │ A     │ B     │ iff   │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 5     │ 5     │
│ 2   │ 2     │ 4     │ 8     │
│ 3   │ 3     │ 3     │ 9     │
│ 4   │ 4     │ 2     │ 8     │
│ 5   │ 5     │ 1     │ 5     │

In [78]:
@transform d C = :A .* :B iff(:A .> :B)

5×4 DataFrame
│ Row │ A     │ B     │ C     │ iff  │
│     │ Int64 │ Int64 │ Int64 │ Bool │
├─────┼───────┼───────┼───────┼──────┤
│ 1   │ 1     │ 5     │ 5     │ 0    │
│ 2   │ 2     │ 4     │ 8     │ 0    │
│ 3   │ 3     │ 3     │ 9     │ 0    │
│ 4   │ 4     │ 2     │ 8     │ 1    │
│ 5   │ 5     │ 1     │ 5     │ 1    │