In [5]:
using Pkg
Pkg.activate(".")
Pk

  Activating environment at `E:\PP\git\DataWrangler.jl\Project.toml`

In [6]:
using  DataFrames, CSV, Pipe, Dates, StatsBase, DataStructures, FreqTables, DataFramesMeta
import DataFrames: groupby

LoadError: ArgumentError: Package CSV not found in current path:
- Run `import Pkg; Pkg.add("CSV")` to install the CSV package.

### Load in our Data

In [3]:
slave = CSV.read("data/Slave/Slave.csv", DataFrame)[:,3:end]

# Lets make the names lowercase for better readability
rename!(slave, lowercase.(names(slave)))

first(slave, 5)

LoadError: UndefVarError: CSV not defined

Make some type changes to data set.

In [4]:
slave.year = Int(slave.year)

LoadError: UndefVarError: slave not defined

Sale prices are listed in different currencies: 

| Currency of inventory inventory or sale value.| Equivalencies |
| ---                                           | :---          |
| p = piastre                                   | = 1 p         |
| s = peso                                      | = 1 p         |
| g = piastre gourde                            | = 1.75 p      |
| f = peso fuerte                               | = 1.75 p      |
| l = livre                                     | = 0.2 p       |
| t = livre tournois                            |  ?            |
| i = pound (livre) of indigo                   | = 1 p         |
| d = U.S. dollar                               | = 1 p         |
| z = unidentified                              |  ?            |

In [88]:
slave.test = 0

┌ Warning: `setproperty!(df::DataFrame, col_ind::Symbol, v)` is deprecated, use `df[!, col_ind] .= v` instead.
│   caller = top-level scope at In[88]:1
└ @ Core In[88]:1

0

84873×1 DataFrame
│ Row   │ test  │
│       │ Int64 │
├───────┼───────┤
│ 1     │ 1     │
│ 2     │ 1     │
│ 3     │ 1     │
│ 4     │ 1     │
│ 5     │ 1     │
⋮
│ 84868 │ 1     │
│ 84869 │ 1     │
│ 84870 │ 1     │
│ 84871 │ 1     │
│ 84872 │ 1     │
│ 84873 │ 1     │

In [40]:
describe(slave)

133×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable │ mean      │ min               │ median │
│     │ Symbol   │ Union…    │ Any               │ Union… │
├─────┼──────────┼───────────┼───────────────────┼────────┤
│ 1   │ docdate  │           │ 1719-06-15        │        │
│ 2   │ year     │ 1797.38   │ 1719              │ 1808.0 │
│ 3   │ docno    │           │      0            │        │
│ 4   │ notary   │           │ 0ierre Pedasclaux │        │
│ 5   │ coder    │ 2.9168    │ 1.0               │ 3.0    │
⋮
│ 128 │ skillgp3 │ 5.59184   │ 1.0               │ 6.0    │
│ 129 │ skillgp4 │ 6.57037   │ 1.0               │ 6.0    │
│ 130 │ skillgp5 │ 5.46154   │ 1.0               │ 6.0    │
│ 131 │ agegroup │ 5.37004   │ 1.0               │ 5.0    │
│ 132 │ agespan  │ 1.78361   │ 1.0               │ 2.0    │
│ 133 │ maritime │ 0.0859079 │ 0.0               │ 0.0    │

In [53]:
@linq slave |> where(.!ismissing.(:datesale)) |> select(r"sale") |> first(5)

5×4 DataFrame
│ Row │ datesale   │ salecur │ salevalu │ salevalp │
│     │ Date?      │ String? │ Float64? │ Float64? │
├─────┼────────────┼─────────┼──────────┼──────────┤
│ 1   │ 1820-06-20 │ D       │ 2150.0   │ 2150.0   │
│ 2   │ 1728-12-05 │ L       │ 800.0    │ 160.0    │
│ 3   │ 1728-12-05 │ L       │ 1200.0   │ 240.0    │
│ 4   │ 1728-12-05 │ L       │ 1200.0   │ 240.0    │
│ 5   │ 1728-12-05 │ L       │ 1200.0   │ 240.0    │

In [59]:
@linq slave |> where(.!ismissing.(:datesale)) |> select(r"inv|sale") |> first(5)

5×9 DataFrame. Omitted printing of 3 columns
│ Row │ dateinv    │ datesale   │ invcur  │ invvalue │ invvalp  │ salecur │
│     │ Date?      │ Date?      │ String? │ Float64? │ Float64? │ String? │
├─────┼────────────┼────────────┼─────────┼──────────┼──────────┼─────────┤
│ 1   │ 1820-06-05 │ 1820-06-20 │ D       │ 500.0    │ 500.0    │ D       │
│ 2   │ missing    │ 1728-12-05 │ missing │ missing  │ missing  │ L       │
│ 3   │ missing    │ 1728-12-05 │ missing │ missing  │ missing  │ L       │
│ 4   │ missing    │ 1728-12-05 │ missing │ missing  │ missing  │ L       │
│ 5   │ missing    │ 1728-12-05 │ missing │ missing  │ missing  │ L       │

In [82]:
notmissing(x) = !ismissing(x)

@linq slave |> 
    where(.!ismissing.(:invvalue) .& .!ismissing.(:salevalu) .& (:invvalue .!= 0) .& (:salevalu .!= 0) .&
    (:group .== 2)) |> 
    select(:invvalue, :salevalu, :year) |> 
    transform(salehigher = :salevalu .> :invvalue)

3337×4 DataFrame
│ Row  │ invvalue │ salevalu │ year  │ salehigher │
│      │ Float64? │ Float64? │ Int64 │ Bool       │
├──────┼──────────┼──────────┼───────┼────────────┤
│ 1    │ 500.0    │ 960.0    │ 1736  │ 1          │
│ 2    │ 100.0    │ 505.0    │ 1736  │ 1          │
│ 3    │ 300.0    │ 590.0    │ 1736  │ 1          │
│ 4    │ 800.0    │ 1070.0   │ 1736  │ 1          │
│ 5    │ 150.0    │ 405.0    │ 1736  │ 1          │
⋮
│ 3332 │ 500.0    │ 505.0    │ 1820  │ 1          │
│ 3333 │ 800.0    │ 990.0    │ 1820  │ 1          │
│ 3334 │ 1200.0   │ 1600.0   │ 1820  │ 1          │
│ 3335 │ 1200.0   │ 1410.0   │ 1820  │ 1          │
│ 3336 │ 600.0    │ 1060.0   │ 1820  │ 1          │
│ 3337 │ 475.0    │ 530.0    │ 1820  │ 1          │

In [11]:
[v in ["9", "Unnamed", "no name"] for v in slave.NAME ]

UndefVarError: UndefVarError: slave not defined

In [12]:
slave.NAME[[v in ["9", "Unnamed", "no name"] for v in slave.NAME ]]

UndefVarError: UndefVarError: slave not defined

In [13]:
sort(freqtable(slave.NAME), rev = true)

UndefVarError: UndefVarError: slave not defined

In [14]:
free  = CSV.read("data/Free/Free.csv")[:,3:end]

UndefVarError: UndefVarError: CSV not defined

In [15]:
free.YEAR = free.YEAR .|> Int

UndefVarError: UndefVarError: free not defined